spring:
  datasource:
    username: postgres
    password: Shoxruh0912
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true
    baseline-on-migrate: true
springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api/doc
logging:
  level:
    org.zalando.logbook: TRACE