spring:
  datasource:
    username: postgres
    password: Shoxruh0912
    url: jdbc:postgresql://localhost:5432/dxmap
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true
    baseline-on-migrate: true
springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api/doc
queue:
 name: cportal_in

front:
  address: http://192.168.254.145:3085 # for @CrossOrigin